@model IEnumerable<OrderApp.Models.Customer>

@{
    ViewData["Title"] = "Customer";
}

<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Customers</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Customers</li>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-md-12">

                    <div class="card mb-4">
                        <div class="card-header">

                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddOrEdit"
                                >Create New</a>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fullname</th>
                                        <th>MobileNumber</th>
                                        <th>City</th>
                                        <th>Coordinates</th>
                                        <th>IsActive</th>
                                        <th style="width: 40px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var customer in Model)
                                    {
                                        <tr>
                                            <td>@($"{customer.FirstName} {customer.LastName}")</td>
                                            <td>@customer.MobileNumber</td>
                                            <td>@customer.City</td>
                                            <td>@($"{customer.Long}, {customer.Lat}")</td>
                                            <td>
                                                
                                                @if(customer.IsActive)
                                                {
                                                    <span class="badge text-bg-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="badge text-bg-dark">Inactive</span>
                                                }
                                            </td>
                                            <td>
                                            <button class="btn btn-sm btn-default edit-btn"
                                                    data-id="@customer.Id"
                                                    data-firstname="@customer.FirstName"
                                                    data-lastname="@customer.LastName"
                                                    data-mobile="@customer.MobileNumber"
                                                    data-city="@customer.City"
                                                    data-long="@customer.Long"
                                                    data-lat="@customer.Lat"
                                                    data-isactive="@customer.IsActive"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#AddOrEdit">
                                                Edit
                                            </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::App Content-->
</main>

@* Modal *@
<div class="modal fade" id="AddOrEdit" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form id="form0">
            <input type="hidden" name="Id" id="Id" />

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Left Column: Form Fields -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>First Name</label>
                                <input type="text" name="FirstName" id="FirstName" class="form-control"
                                    required />
                            </div>
                            <div class="mb-3">
                                <label>Last Name</label>
                                <input type="text" name="LastName" id="LastName" class="form-control"
                                    required />
                            </div>
                            <div class="mb-3">
                                <label>Mobile Number</label>
                                <input type="text" name="MobileNumber" id="MobileNumber" class="form-control"
                                    inputmode="numeric" maxlength="10" required />
                            </div>
                            <div class="mb-3">
                                <label>City</label>
                                <input type="text" name="City" id="City" class="form-control" required />
                            </div>
                            <div class="mb-3">
                                <label>Longitude</label>
                                <input type="text" name="Long" id="Long" class="form-control" readonly required />
                            </div>
                            <div class="mb-3">
                                <label>Latitude</label>
                                <input type="text" name="Lat" id="Lat" class="form-control" readonly required />
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="IsActive" checked id="IsActive"
                                    class="form-check-input" />
                                <label class="form-check-label" for="IsActive">Is Active</label>
                            </div>
                        </div>

                        <!-- Right Column: Google Map -->
                        <div class="col-md-6">
                            <label class="form-label">Select Location</label>
                            <div id="map" style="width:100%;height:400px;"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitBtn">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoKMpsi0cxRs2Vdv9tnFEfnLCGW5O2ctg&callback=initMap" async
        defer></script>
    <script>
        let map;
        let marker;
        
        const defaultLoc = { lat: 14.5995, lng: 120.9842 };
       

        function initMap() {
            
            // Initialize map
            map = new google.maps.Map(document.getElementById("map"), {
                center: defaultLoc,
                zoom: 12,
            });

            // Create draggable marker
            marker = new google.maps.Marker({
                position: defaultLoc,
                map: map,
                draggable: true,
            });

         
            document.getElementById("Lat").value = defaultLoc.lat;
            document.getElementById("Long").value = defaultLoc.lng;

           
            marker.addListener("dragend", (event) => {
                const lat = event.latLng.lat();
                const lng = event.latLng.lng();
                document.getElementById("Lat").value = lat;
                document.getElementById("Long").value = lng;
            });

           
            map.addListener("click", (event) => {
                marker.setPosition(event.latLng);
                const lat = event.latLng.lat();
                const lng = event.latLng.lng();
                document.getElementById("Lat").value = lat;
                document.getElementById("Long").value = lng;
            });
        }
       
        
         $('.edit-btn').click(function () {
             const form = document.getElementById('form0');
            $('#modalTitle').text('Edit Customer');
            $('#submitBtn').text('Update');
            $('#Id').val($(this).data('id'));
            $('#FirstName').val($(this).data('firstname'));
            $('#LastName').val($(this).data('lastname'));
            $('#MobileNumber').val('0' + $(this).data('mobile'));
            $('#City').val($(this).data('city'));
            $('#Long').val($(this).data('long'));
            $('#Lat').val($(this).data('lat'));

            var isActive = $(this).data('isactive') === 'True' ? true : false;
            $('#IsActive').prop('checked', isActive);
             $('#IsActive').attr('disabled', false);
            const lat = parseFloat($(this).data('lat'));
            const lng = parseFloat($(this).data('long'));
            defaultLoc = { lat: lat, lng: lng };
            
        });
        
        $('#form0').submit(function (event) {
            event.preventDefault();

            var Id = $('#Id').val();
           
            var formData = {
                firstName: $('#FirstName').val(),
                lastName: $('#LastName').val(),
                mobileNumber: $('#MobileNumber').val(),
                city: $('#City').val(),
                long: $('#Long').val(),
                lat: $('#Lat').val(),
                isActive: $('#IsActive').is(':checked'),
                userId: $('#userId').val(),
                createdBy: $('#createdBy').val()
            };


            if (Id) {
                formData.id = parseInt(Id);
            }

            var url = Id ? '/Customers/Edit/' + Id : '/Customers/Create';
            var method = Id ? 'PUT' : 'POST';


            $.ajax({
                url: url,
                method: method,
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                   if (response.success) {
                        location.reload();
                         $('#AddOrEdit').modal('hide');
                    } else {
                        alert(response.errors.join("\n"));
                    }
                },
                error: function (response) {
                    console.log(response);
                },
                complete: function () {
                    $('#btnSave').removeAttr('disabled');
                }
            })
        });
    </script>
}